VITE_WS_URL=http://localhost:3500/
VITE_API_URL=http://localhost:3500/
VITE_GOOGLE_CLIENT_ID="xxxxx"
VITE_USE_AUDIO_GENERATOR=true || false

# DEV ONLY
SERVER_HOST=x.x.x.x
SERVER_USER=root
DEST_FOLDER=/var/www/tester-client/