PORT=3500
DB_NAME = 'smeshariki'
DB_USER = 'postgres'
DB_PASSWORD = '12341234'
DB_HOST = 'localhost'
DB_PORT = 5432
CLIENT = 'http://localhost:3000'
GPT_KEY = 'sk-xxxxxxxx'
SECRET_KEY = 'xxxxxxxxxx'
TG_KEY='xxxxxxxxxxxxxxxx'
GOOGLE_CLIENT_ID='000000000000-f134113r1efdea13f4113.apps.googleusercontent.com'
GOOGLE_USER='me@gmail.com'
GOOGLE_APP_PASSWORD='xxxx xxxx xxxx xxxx'
OLLAMA_MODEL = "qwen3:8b"

# DEV ONLY
SERVER_HOST=x.x.x.x
SERVER_USER=root
DEST_FOLDER=/root/web-course-2025/test-server-v2